/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.04.2014, 18:46:22
    Author     : Philipp
	Blau: 0 70 160
*/








h1,h2 {
	color: rgb(0,70,160);
}

h2 {
		font-size: 1.5em;
		margin-top: 2em;
}


body, p, h1, h2, h3, a, ul, li, th, td {
	font-family: 'Roboto',sans serif;
	font-weight: 300;
}

#meinMenu li a {
    font-size: 0.875em;
}  

#meinMenu li.active {
	background-color: white;
}

.mainContent {
	padding-left: 25px;
}

#meinMenu li.name {
	border-bottom: 1px solid white;
	font-size: 1.25em;
	color: white;
	font-weight:400;
}

html {
    overflow-y: scroll;
}


#letzteAnstellungAusbildung p, 
#berufserfahrung p, 
#weiterbildung p, 
#grundausbildung p, 
#sprachen p {

		margin-bottom: 0.125em;
}

#cvAlsPDF {
	margin-top: 5em;	
}
h2 {

		border-bottom-style: solid;
		border-bottom-color: rgb(0,70,160);
		border-bottom-width: thin;
}

#weiterbildung > div:nth-child(1) ~ div > div:nth-child(2) > p:first-child,
#berufserfahrung > div:nth-child(1) ~ div > div:nth-child(2) > p:first-child
 {
	font-weight:bolder;
}


#weiterbildung > div:first-child ~div,
#letzteAnstellungAusbildung > div:first-child ~div,
#grundausbildung > div:first-child ~div,
#sprachen > div:first-child ~div,
#berufserfahrung > div:first-child ~div {
	margin-bottom: 1.6em;	
}


b {
	font-weight:bolder;
}

ul {
	margin-bottom: 0px;	
}

.headerBildLinks {
	transform:rotate(-7deg);
	-ms-transform:rotate(-7deg); /* IE 9 */
	-webkit-transform:rotate(-7deg); /* Opera, Chrome, and Safari */
	margin: 10px 0px 10px 0px;
}

.headerBildRechts {
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-webkit-transform:rotate(7deg); /* Opera, Chrome, and Safari */
	margin: 10px 0px 10px 0px;
}

.snlogo {
	margin-top: 6px;
	max-width: 68px;	
}

#meinMenu li.active a {
	color: rgb(0,70,160);
} 

body > .row > .row:nth-child(1), 
body > .row > .row:nth-child(2)	{
	margin-left: 0px;
	margin-right: 0px;	
}

.sloganimage {
		background-image: url(../img/home2.jpg);
		background-repeat:no-repeat;
}

.slogan {
		height: 648px;
		text-align: right;	
		width: 95%; z-index: 9; position:absolute;
}

.slogan > p {
	font-size: 1.9em;
	font-weight: lighter;
	color: rgb(157, 189, 231);	
}

.slogan > p:first-child {
	margin-bottom: 0px;	
}




@media only screen and (max-width: 40.063em) {

.slogan > p {
	font-size: 1.6em;
}

#meinMenu li a {
    line-height: normal;
}    
    
.fullwidthmobile {
    padding: 0px 0px 0px 0px;
        
}
	
        
.nav { 
    width:100%; 
    background-color: #fff; 
    border-bottom: 1px solid #ccc; 
}

ul.simple-toggle {
    display: none; 
    list-style: none; 
    padding: 0px; 
    margin: 0px; 
    font-weight: bold; 
    text-align: center; 
}

ul.simple-toggle li { 
    display: inline-block; 
    text-align: left; 
}

ul.simple-toggle li a { 
    display: block; 
    padding: 15px 10px; 
    text-decoration: none; 
    color: white; 
}

ul.simple-toggle li a:hover { 
    background-color: black; 
}

.anchor-link { 
    text-align: right; 
    padding: 0 1em 0; 
    text-align: center; 
    padding: 10px 15px; 
    color: #fff; 
    background-color: rgb(0,70,160); 
    text-decoration: none;  
}
  

.anchor-link { 
	display: block; 
	width: 100%;
}

ul.open { 
    background-color: rgb(0,70,160);
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 500; 
}
	
ul.open li { 
	display: block; 
	list-style: none; 
	text-align: center; 
}

ul.open li a { 
	display: block; 
	padding: 20px 10px; 
	border-bottom: 1px solid #ccc; 
	text-decoration: none; 
}

ul.open li a:hover { 
	background-color: white; 
	color: black; 
}


.mainContent {
	padding-left: 0px;
}

.slogan {
	 background-size: contain;	
}


.faded { 
	display: none;
	position: absolute; 
}

#hpimg1 {
	top: 10px; 
	left: 20px; 
	z-index:2;
	transform:scale(0.7) rotate(-5deg);
	-ms-transform:scale(0.7) rotate(-5deg); /* IE 9 */
	-webkit-transform:scale(0.7) rotate(-5deg); /* Opera, Chrome, and Safari */		
}

#hpimg2 {
	top: 150px; 
	left: 5px; 
	z-index:3;
	transform:scale(0.7) rotate(7deg);
	-ms-transform:scale(0.7) rotate(7deg); /* IE 9 */
	-webkit-transform:scale(0.7) rotate(7deg); /* Opera, Chrome, and Safari */		
}

#hpimg3 {
	top: 165px; 
	left: 115px; 
	z-index:4;
	transform:scale(0.7) rotate(-8deg);
	-ms-transform:scale(0.7) rotate(-8deg); /* IE 9 */
	-webkit-transform:scale(0.7) rotate(-8deg); /* Opera, Chrome, and Safari */		
}

#hpimg4 {
	top: 290px; 
	left: 10px; 
	z-index:5;
	transform:scale(0.7) rotate(-5deg);
	-ms-transform:scale(0.7) rotate(-5deg); /* IE 9 */
	-webkit-transform:scale(0.7) rotate(-5deg); /* Opera, Chrome, and Safari */		
}

#hpimg5 {
	top: 310px; 
	left: 122px; 
	z-index:8;
	transform:scale(0.7) rotate(10deg);
	-ms-transform:scale(0.7) rotate(10deg); /* IE 9 */
	-webkit-transform:scale(0.7) rotate(10deg); /* Opera, Chrome, and Safari */	
}	
	
}

@media only screen and (min-width: 40.064em) {


body {
	background-color:rgb(240,240,240);
}

.row {
	background-color:white;
	max-width:800px;
}

body > .row:nth-child(1) {
	height: 100%;
}

body > .row > .row:nth-child(2)	> div {
	padding-right: 2em;	
}


#homepagecontent {
 height: 100%;	
}

	
.anchor-link { visibility: hidden; }

#meinMenu > li:not(.name) > a {
    padding: 0px 10px 0px 10px;
    display: block;
    line-height: 90px;
    color: white;
	border-bottom: 1px solid white;
}

#meinMenu > li.name > a {
    display: block;
    line-height: normal;
    color: white;
	font-size: 1.1em;
	font-weight:300;
	
	
	
}

#meinMenu li.active a {
	color: rgb(0,70,160);
} 

#meinMenu li.name {
    display: block;
    padding: 20px 10px 50px 10px;	
}



#meinMenu li:not(.name) a:hover {
    background: white;
	color: rgb(0,70,160); 
}



.flexmenu {
	display: block;
	list-style-type: none;
	list-style-position: inside;
	position: fixed;
	top: 0;
	z-index: 99;
	height: 100%;
	background-color: rgb(0,70,160);
	left: auto;
	
}

.faded { 
	display: none;
	position: absolute; 
}

#hpimg1 {
	top: 10px; 
	left: 50px; 
	z-index:2;
	transform:rotate(-5deg);
	-ms-transform:rotate(-5deg); /* IE 9 */
	-webkit-transform:rotate(-5deg); /* Opera, Chrome, and Safari */
}

#hpimg2 {
	top: 200px; 
	left: 20px; 
	z-index:3;
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-webkit-transform:rotate(7deg); /* Opera, Chrome, and Safari */
}

#hpimg3 {
	top: 225px; 
	left: 180px; 
	z-index:4;
	transform:rotate(-8deg);
	-ms-transform:rotate(-8deg); /* IE 9 */
	-webkit-transform:rotate(-8deg); /* Opera, Chrome, and Safari */
}

#hpimg4 {
	top: 390px; 
	left: 40px; 
	z-index:5;
	transform:rotate(-5deg);
	-ms-transform:rotate(-5deg); /* IE 9 */
	-webkit-transform:rotate(-5deg); /* Opera, Chrome, and Safari */
}

#hpimg5 {
	top: 410px; 
	left: 222px; 
	z-index:8;
	transform:rotate(10deg);
	-ms-transform:rotate(10deg); /* IE 9 */
	-webkit-transform:rotate(10deg); /* Opera, Chrome, and Safari */
}


}
